[Unit]
Description=TG-Fake-Status Scheduler
After=network.target

[Service]
ExecStart=/usr/bin/python3 /root/tg-activity/daemon.py
WorkingDirectory=/root/tg-activity
Restart=always
RestartSec=10
Environment=PYTHONUNBUFFERED=1
Environment=PYTHONIOENCODING=utf-8

[Install]
WantedBy=multi-user.target
